<div class="container" style="border-radius: 5px;background: #f2f2f2">
  <div class="row my-2">
    <div class="col-lg-12">
      <h3 class="text-center mt-2">Hướng dẫn và quy định của website Đấu giá C0921G1</h3>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 mb-1">
      <h4>1. Quy định website</h4>
    </div>
    <div class="col-lg-12">
      <p>1.1 Để đặt hàng với Đấu giá C0921G1, bạn phải trên 18 tuổi và có thẻ tín dụng hoặc thẻ ghi nợ hợp lệ do
        ngân hàng chấp nhận cho chúng tôi.</p>
    </div>
    <div class="col-lg-12">
      <p>1.2 Nếu bạn phát hiện ra rằng bạn đã mắc lỗi với Đơn đặt hàng của bạn sau khi bạn gửi nó lên trang web,
        vui lòng liên hệ ngay với support@chilindo.com. Tuy nhiên, chúng tôi không thể đảm bảo rằng chúng tôi sẽ
        có thể sửa đổi đơn hàng của bạn theo hướng dẫn của bạn.</p>
    </div>
    <div class="col-lg-12">
      <p>1.3 Bất kể giá trước đó bạn đã nhìn thấy hoặc nghe thấy là bao nhiêu, một khi bạn chọn một Sản phẩm mà
        bạn muốn sở hữu,bạn sẽ được thông báo (trên Trang web) các khoản phí bạn phải trả bao gồm thuế, nếu có,
        và bất kỳ phí giao hàng. Trừ trường hợp có quy định khác trên trang web, tất cả các khoản phí tính bằng
        tiền tệ có hiệu lực tại Việt Nam. Theo điều khoản 1.4 dưới đây, đây là tổng số mà bạn sẽ phải trả cho
        việc nhận được sản phẩm được yêu cầu.</p>
    </div>
    <div class="col-lg-12">
      <p>1.4 Chúng tôi cố gắng rất nhiều để đảm bảo rằng giá được cung cấp cho bạn là chính xác, nhưng giá của Đơn
        đặt hàng của bạn sẽ cần được xác nhận bởi chúng tôi như là một phần của thủ tục chấp nhận của chúng tôi.
        Nếu giá của đơn hàng thay đổi trước khi chúng tôi chấp nhận Đơn đặt hàng của bạn, chúng tôi sẽ liên hệ
        với bạn và yêu cầu bạn xác nhận rằng bạn muốn tiến hành với mức giá đã sửa đổi.</p>
    </div>
    <div class="col-lg-12">
      <p>1.5 Bạn phải trả tiền cho Sản phẩm đầy đủ tại thời điểm đặt hàng bằng cách cung cấp cho chúng tôi chi
        tiết thẻ tín dụng hoặc thẻ ghi nợ của bạn từ một công ty thẻ tín dụng hoặc thẻ ghi nợ được chấp nhận
        hoặc bởi Paypal mà chúng tôi yêu cầu để xử lý đơn hàng của bạn. Ngoài ra, bạn có thể thanh toán bằng bất
        kỳ phương pháp nào mà chúng tôi cho là chấp nhận được, nhưng trong bất kỳ trường hợp nào chúng tôi sẽ
        không bị ràng buộc cung cấp trước khi chúng tôi đã nhận được tiền đã được thanh toán đầy đủ. Khoản thanh
        toán của bạn sẽ nhận được bởi đại lý của chúng tôi, Công ty Đấu giá C0221G1, Tầng 11 Trường Đại Học Mở
        Hà Nội, 295 Nguyễn Tất Thành, Quận Sơn Trà, TP.Đà Nẵng</p>
    </div>
    <div class="col-lg-12">
      <p>1.6 Nếu bạn được yêu cầu xem chi tiết về thẻ thanh toán, bạn phải có đầy đủ quyền sử dụng thẻ hoặc tài
        khoản đó. Thẻ hoặc tài khoản phải có đủ tiền để trả khoản tiền đề nghị thanh toán cho chúng tôi.</p>
    </div>
    <div class="col-lg-12">
      <p>1.7 Khi bạn gửi một Đơn đặt hàng cho Trang web, bạn đồng ý rằng bạn phải thực hiện theo Các Điều Khoản và
        Điều Kiện hiện hành kể từ ngày bạn gửi Đơn hàng. Bạn có trách nhiệm xem xét các Điều khoản và Điều kiện
        mới nhất mỗi lần bạn gửi Đơn hàng của mình.</p>
    </div>
    <div class="col-lg-12">
      <p>1.8 Khi đăng ký thành công, tài khoản sẽ mặc định có 0 điểm cảnh cáo. Nếu đủ 3 điểm cảnh cáo sẽ tiến khóa
        tài khoảng</p>
    </div>
    <div class="col-lg-12">
      <p>1.9 Những trường hợp bị cộng điểm cảnh cáo</p>
      <p style="margin-left: 15px">* Khi đấu giá thành công nếu trong vòng 24h kể từ kết thúc buổi đấu giá mà
        không thanh toán sản phẩm
        thì tài khoản sẽ bị cộng 1 điểm cảnh cáo và hủy sản phẩm đó.</p>
      <p style="margin-left: 15px">* Tài khoản nào có những hành vi, cử chỉ lăng mạ, xúc phạm đến quản trị viên
        thì sẽ cộng 2 điểm</p>
    </div>
    <div class="col-lg-12">
      <p>1.10 Những hành vi</p>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 mb-1">
      <h4>2. Quy định đấu giá</h4>
    </div>
    <div class="col-lg-12">
      <p>2.1 Những tài khoản đã bị khóa sẽ không được tham giá đấu giá</p>
    </div>
    <div class="col-lg-12">
      <p>2.2 Xác định người trúng đấu giá thông qua 2 trường hợp:</p>
      <p style="margin-left: 15px">* Trường hợp việc trả giá được thực hiện bằng phương thức trả giá lên thì người
        trúng đấu giá phải là
        người có mức trả giá cao nhất và được hệ thống đấu giá trực tuyến ghi nhận lại thời điểm kết thúc việc
        trả giá.</p>
      <p style="margin-left: 15px">* Trường hợp việc trả giá được thực hiện bằng phương thức đặt giá xuống thì
        người trúng đấu giá là người
        đầu tiên chất nhận mức giá khởi điểm hoặc góa đã giảm được hệ thống thông tín đấu giá trực tuyến ghi
        nhận. </p>
    </div>
    <div class="col-lg-12">
      <p>2.3 Hiển thị mức giá cao nhất được hệ thống đấu giá trực tuyến ghi nhận 30 giây một lần để những người
        tham gia đấu giá có thể xem được.</p>
    </div>
    <div class="col-lg-12">
      <p>2.4 Ghi nhận và lưu trữ tất cả mức giá được trả trong cuộc đấu giá, việc rút lại giá đã trả và những
        thông tin cần thiết khác trong quá trình diễn ra cuộc đấu giá trực tuyến</p>
    </div>
    <div class="col-lg-12">
      <p>2.5 Hiển thị công khai, trung thực giá trả của người tham gia đấu giá; trích xuất được lịch sử việc trả
        giá trên hệ thống đấu giá trực tuyến</p>
    </div>
    <div class="col-lg-12">
      <p>2.6 Đảm bảo tính an toàn, bảo mật về tài khoản truy cập và toàn vẹn dữ liệu, việc tham gia trả giá, giá
        đã trả và các thông tin về người tham gia đấu giá</p>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-12 mb-1">
      <h4>3. Câu hỏi thường gặp</h4>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Nhập câu hỏi">
      <datalist id="datalistOptions">
        <option value="Sản phẩm được giao trong bao lâu ?">
        <option value="Khi đấu giá thành công sẽ phải đóng những loại phí nào ?">
        <option value="Tôi có thể trả lại hàng của mình sau khi tôi đã nhận được không ?">
        <option value="Điều gì xảy ra nếu mặt hàng của tôi bị mất hoặc hư hỏng trong khi mua hoặc bán trên Đấu giá C0921G1?">
        <option value="Cách thức giao hàng">
      </datalist>
    </div>
  </div>
  <!--    Khi chọn câu hỏi thì sẽ hiển thị câu trả lời tương ứng-->
  <div class="col-lg-12">
    <p class="text-center">Sản phẩm sẽ được giao trong 20-25 ngày kể từ khi thanh toán</p>
    <p class="text-center">Ngoài mức giá cuối cùng khi thành công đấu giá, khách hàng phải đóng phí vận chuyển là
      75.000 và thuế 0.5% giá trị sản phảm</p>
    <p class="text-center">Quý khách có thể trả lại hàng trong vòng 10 ngày kể từ khi nhận hàng nếu như các bất kỳ
      vấn đề gì đối với sản phẩm</p>
    <p class="text-center">Chúng tôi sẽ bồi thướng thích đáng với giá trị sản phẩm và chi phí phát sinh nếu như xảy
      ra có bất kỳ vấn đề gì đối với sản phẩm</p>
    <p class="text-center">Sản phẩm sẽ được đóng gói và chuyển phát nhanh qua bưu điện</p>
  </div>
</div>
