.custom-detail-product {
  font-size: 21px;
  color: #FF6922;
}

.custom-text-color {
  color: #0E2E50;
  font-size: 16px;
}

.custom-countdown-item {
  width: 40px;
  height: 40px;
  background: #EFFDF5;
  margin-left: 12px;
  border-radius: 4px;
  border: solid 1px darkgray;
}

.custom-countdown-child-item {
  color: red;
  margin-top: 5px;
  margin-left: 4px;
}

.custom-countdown-cc{
  margin-left: 12px;
}

.custom-plus-minus{
  cursor: pointer;
  width: 40px;
}
