.container{
  background: #c7f8dd !important;
  font-size: 20px;
  /*background: linear-gradient(45deg, #00B98E, #EFFDF5);*/
  border-radius: 20px;
  margin-top: 20px;
}


table{
  background: #EFFDF5;
}
input, textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom:  solid #00B98E;
}
input, textarea, select, option{
  border-radius: 20px;
}
table {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  /*border-radius:20px;*/
  /*background: linear-gradient( #00B98E,#EFFDF5 );*/
}
table.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table.container {
  text-align: center;
  padding: 10px 20px;
}

img{
  height: 111px;
  width: 143px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


input[type=file] {
  color: transparent !important;
  background: white;
}

textarea {
  resize: none;
}
